

/* Importa a fonte 'Poppins' do Google Fonts com várias opções de peso (300 a 800) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Aplica um reset CSS para remover padding, margin, outline e border de todos os elementos */
/* Define box-sizing como border-box para incluir padding e border no tamanho total do elemento */
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* Define que todas as imagens devem ter largura de 100% e usar display flex para ser flexíveis */
img {
    width: 100%;
    display: flex;
}

/* Remove a decoração (sublinhado) dos links */
a {
    text-decoration: none;
}


/* Define a fonte padrão do corpo do documento como 'Poppins' e a cor de fundo */
body {
    font-family: "poppins", sans-serif;
    background-color: #f4f4e7;
    
}

nav{
    background-color:#f4f4e7;
    border-bottom: 2px solid #88a162; /* Borda na parte inferior */
    border-top: 2px solid #88a162;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    z-index: 900; /*Prioridade do elemento na pagina*/
    
}
nav a{
   color: #012923; 
}

nav .logo{
    display: flex;
    top: 10px;
    align-items: center;
   
}

nav .logo img{
    max-width: 90px; /* Define a largura máxima do logotipo */
    margin-bottom: 4rem; /* Adiciona uma margem inferior */
    margin-top: 4rem; /* Adiciona uma margem superior */
   
}

nav ul, nav li{
    display: flex;
    gap: 45px;
    text-decoration: none;
}

nav button{
    color: #012923;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #012923;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color:#678362;
    border-color: #012923;
    color: #fff;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}


/* Estilo do botão */
.btn {
    padding: 1rem 2rem; /* Define padding interno do botão */
    font-size: 1rem; /* Define o tamanho da fonte do texto do botão */
    color: #FFFAF0; /* Define a cor do texto do botão */
    background-color: #D6AF7F; /* Define a cor de fundo do botão */
    border-radius: 5px; /* Define cantos arredondados */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre o botão */
    transition: all 0.3s ease; /* Anima mudanças no botão */
}


/* Estilo hover do botão */
.btn:hover {
    background-color: #678362; /* Define a cor de fundo ao passar o mouse */
}

/* Estilo do container1 */
.container1 {
    max-width: 1200px; /* Define a largura máxima do container */
    margin: auto; /* Centraliza o container horizontalmente */
    padding: 1rem; /* Adiciona padding ao redor do container */
}
/* Estilo do container */
.container {
    max-width: 1200px; /* Define a largura máxima do container */
    margin: auto; /* Centraliza o container horizontalmente */
    padding: 5rem 2rem; /* Adiciona padding ao redor do container */
}

/* Estilo do cabeçalho */
header {
    position: relative; /* Permite posicionamento relativo de elementos filhos */
    padding-top: 2rem; /* Adiciona padding no topo */
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas iguais */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 2rem; /* Define um espaço de 2rem entre os itens */
}

/* Estilo do subtítulo no cabeçalho */
header .content h4 {
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
    color: #678362; /* Define a cor do texto */
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
}

/* Estilo do título no cabeçalho */
header .content h1 {
    color: #678362; /* Define a cor do texto */
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
    font-size: 3rem; /* Define o tamanho da fonte */
    font-weight: 700; /* Define o peso da fonte */ 
    line-height: 4rem; /* Define a altura da linha */
}

/* Estilo do span dentro do título para um efeito de contorno */
header .content h1 span {
    -webkit-text-fill-color: transparent; /* Torna o texto transparente */
    -webkit-text-stroke: 1px #D6AF7F; /* Adiciona uma borda ao texto */
}

/* Estilo do parágrafo no cabeçalho */
header .content p {
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
    color: #895829; /* Define a cor do texto */
}

/* Estilo da imagem no cabeçalho */
header .image {
    position: relative; /* Permite posicionamento relativo de elementos filhos */
    
}

/* Estilo da imagem no cabeçalho */
header .image img {
    max-width: 600px; /* Define a largura máxima da imagem */
    margin: auto; /* Centraliza a imagem horizontalmente */
}

/* Estilo do cabeçalho de seções */
section .header {
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
    color: #678362; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    font-size: 2.25rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
}

/* Estilo das características (features) */
.features {
    margin-top: 4rem; /* Adiciona uma margem superior */
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas iguais */
    gap: 5rem; /* Define um espaço de 2rem entre os itens */
}

/* Estilo dos cartões das características */
.features .card {
    background-color: #678362; /* Define a cor de fundo */
    padding: 1em; /* Adiciona padding interno */
    border: 2px solid #678362; /* Define uma borda transparente */
    border-radius: 15px; /* Define cantos arredondados */
    transition: all 0.3s ease; /* Anima mudanças no cartão */
}

/* Estilo hover dos cartões das características */
.features .card:hover {
    background-color: #6783623a; /* Define a cor de fundo ao passar o mouse */
    border-color: #895829; /* Define a cor da borda ao passar o mouse */
   
}

/* Estilo dos títulos dos cartões */
.features .card h4 {
    margin-bottom: 0.5rem; /* Adiciona uma margem inferior */
    color: #678362; /* Define a cor do texto */
    font-size: 1.2rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
}

/* Estilo dos parágrafos dentro dos cartões */
.features .card p {
    color: #f4f4e7; /* Define a cor do texto */
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
}

/* ICON da MVV*/
.icon {
    width: 100px;
    height: 100px;
    position: center;
    margin-bottom: 1rem;
 }

/* Estilo do subtítulo das seções */
.sub-header {
    max-width: 600px; /* Define a largura máxima */
    margin: auto; /* Centraliza o subtítulo horizontalmente */
    text-align: center; /* Centraliza o texto */
    color: #895829; /* Define a cor do texto */
}

/* Estilo dos preços */
.pricing {
    margin-top: 4rem; /* Adiciona uma margem superior */
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define três colunas iguais */
    gap: 2rem; /* Define um espaço de 2rem entre os itens */
}

/* Estilo dos cartões de preços */
.pricing .card {
    padding: 3rem 2rem; /* Define padding interno */
    background-color: #D6AF7F; /* Define a cor de fundo */
    display: flex; /* Usa flexbox para layout */
    flex-direction: column; /* Define a direção dos itens como coluna */
    border: 2px solid transparent; /* Define uma borda transparente */
    border-radius: 15px; /* Define cantos arredondados */
    transition: all 0.3s ease; /* Anima mudanças no cartão */
}

/* Estilo hover dos cartões de preços */
.pricing .card:hover {
    background-color: #678362; /* Define a cor de fundo ao passar o mouse */
    border-color:#D6AF7F; /* Define a cor da borda ao passar o mouse */
}

/* Estilo do conteúdo dentro dos cartões de preços */
.pricing .card .content {
    flex: 1; /* Permite que o conteúdo ocupe o máximo de espaço disponível */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
}

/* Estilo dos títulos dos cartões de preços */
.pricing .card h4 {
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
    color: #fff; /* Define a cor do texto */
    font-size: 1.2rem; /* Define o tamanho da fonte */
    font-weight: 500; /* Define o peso da fonte */
}

/* Estilo dos preços dentro dos cartões */
.pricing .card h3 {
    color: #fff; /* Define a cor do texto */
    padding-bottom: 1rem; /* Adiciona padding inferior */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
    font-size: 2rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
    border-bottom: 2px dashed #fff; /* Adiciona uma borda inferior pontilhada */
}

/* Estilo dos parágrafos dentro dos cartões de preços */
.pricing .card p {
    color: #fff; /* Define a cor do texto */
    margin-bottom: 0.75rem; /* Adiciona uma margem inferior */
}

/* Estilo dos ícones dentro dos parágrafos */
.pricing .card p i {
    color: #ccc; /* Define a cor do ícone */
    font-size: 1.2rem; /* Define o tamanho do ícone */
    margin-right: 0.3rem; /* Adiciona uma margem direita */
}

/* Estilo dos botões dentro dos cartões de preços */
.pricing .card button {
    color: #fff; /* Define a cor do texto */
    background-color: transparent; /* Define a cor de fundo */
    border: 2px solid #fff; /* Define a cor da borda */
}

/* Estilo hover dos botões dentro dos cartões de preços */
.pricing .card button:hover {
    background-color: #D6AF7F; /* Define a cor de fundo ao passar o mouse */
    border-color: #FFFAF0; /* Define a cor da borda ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    position: relative; /* Permite posicionamento relativo de elementos filhos */
    display: grid; /* Usa grid layout */
    grid-template-columns: 400px repeat(3, 1fr); /* Define colunas no rodapé */
    gap: 2rem; /* Define um espaço de 2rem entre os itens */
}

/* Estilo do logotipo dentro do rodapé */
footer .column .logo {
    max-width: 100px; /* Define a largura máxima do logotipo */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
}

/* Estilo dos parágrafos dentro das colunas do rodapé */
footer .column p {
    color: #895829; /* Define a cor do texto */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
}

/* Estilo das redes sociais dentro das colunas do rodapé */
footer .column .socials {
    display: flex; /* Usa flexbox para layout */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 1rem; /* Define um espaço de 1rem entre os itens */
}

/* Estilo dos links das redes sociais dentro do rodapé */
footer .column .socials a {
    color: #678362; /* Define a cor do texto */
    border: 1px solid #678362; /* Define a cor da borda */
    padding: 5px 10px; /* Define padding interno */
    font-size: 1.25rem; /* Define o tamanho da fonte */
    border-radius: 100%; /* Define cantos arredondados */
    transition: all 0.3s ease; /* Anima mudanças nos links */
}

/* Estilo hover dos links das redes sociais dentro do rodapé */
footer .column .socials a:hover {
    color: #fff; /* Define a cor do texto ao passar o mouse */
    background-color: #678362; /* Define a cor de fundo ao passar o mouse */
    border-color: #fff; /* Define a cor da borda ao passar o mouse */
}

/* Estilo dos títulos dentro do rodapé */
footer .column h4 {
    color: #895829; /* Define a cor do texto */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
    font-size: 1.2rem; /* Define o tamanho da fonte */
    font-weight: 500; /* Define o peso da fonte */
}

/* Estilo dos links dentro do rodapé */
footer .column > a {
    display: block; /* Torna o link um bloco */
    color: #678362; /* Define a cor do texto */
    margin-bottom: 1rem; /* Adiciona uma margem inferior */
    transition: all 0.3s ease; /* Anima mudanças nos links */
}

/* Estilo hover dos links dentro do rodapé */
footer .column > a:hover {
    color: #895829; /* Define a cor do texto ao passar o mouse */
}

/* Estilo dos direitos autorais no rodapé */
.copyright {
    max-width: 1200px; /* Define a largura máxima */
    margin: auto; /* Centraliza horizontalmente */
    padding: 1rem; /* Adiciona padding */
    color: #895829; /* Define a cor do texto */
    font-size: 0.8rem; /* Define o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
}

.imagemdireita{
    float: right;
    width: 300px;
    margin: 10px; /* Margem opcional */
}
.imagemesquerda{
    float: left;
    transform: scaleX(-1); /* Inverte a imagem horizontalmente */
    width: 300px;
    margin: 10px; /* Margem opcional */
}

/* Estilos responsivos para telas menores que 900px */
@media (width < 1300px) {

    .imagemdireita {
        display: none; /* A imagem some em telas menores que 600px */
        width: 150px;
    }
    .imagemesquerda {
        display: none; /* A imagem some em telas menores que 600px */
        width: 150px;
    }
    .nav-links {
        display: none; /* Esconde os links de navegação */
    }
    header {
        grid-template-columns: repeat(1, 1fr); /* Define uma coluna */
    }
    header .image {
        grid-area: 1/1/2/2; /* Define a área da imagem */
    }
    .features {
        grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
        gap: 3rem; /* Aumenta o espaçamento entre os cartões para 3rem */
    }
    .pricing {
        grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
    }
    footer {
        grid-template-columns: 1fr 200px; /* Define duas colunas */
    }
}

/* Estilos responsivos para telas menores que 600px */
@media (width < 600px) {
    header .image::before {
        display: none; /* Esconde o pseudo-elemento */
        width: 100px;
    }
    .imagemdireita {
        display: none; /* A imagem some em telas menores que 600px */
        width: 100px;
    }
    .imagemesquerda {
        display: none; /* A imagem some em telas menores que 600px */
    }
    .features {
        grid-template-columns: repeat(1, 1fr); /* Define uma coluna */
        gap: 2rem; /* Define o espaçamento entre os cartões para 2rem */
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr); /* Define uma coluna */
    }

    footer {
        grid-template-columns: 1fr; /* Define uma coluna */
    }

    footer .column {
        margin-bottom: 3rem; /* Adiciona uma margem inferior */
    }

    footer .column p {
        margin-bottom: 1rem; /* Define a margem inferior */
    }
}
@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .main{
        flex-direction: column;
    }
    .imagemdireita {
        display: none; /* A imagem some em telas menores que 600px */
    }
    .imagemesquerda {
        display: none; /* A imagem some em telas menores que 600px */
    }
    .about{
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item{
        width: 48%;
    }

    .feedback .customers{
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback .customers .item{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .imagemdireita {
        display: none; /* A imagem some em telas menores que 600px */
    }
    .imagemesquerda {
        display: none; /* A imagem some em telas menores que 600px */
    }
}

@media screen and (max-width: 576px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }


    .feedback .customers .item{
        width: 100%;
    }
    .imagemdireita {
        display: none; /* A imagem some em telas menores que 600px */
    }
    .imagemesquerda {
        display: none; /* A imagem some em telas menores que 600px */
    }
}

/*FEEDBACK*/

.feedback{
    padding: 110px 85px;
}

.feedback .customers{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #678362;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feedback .customers .item .rating{
    color: #678362;
    font-size: 22px;
}

.feedback .customers .item:hover{
    border-color: #678362;
}

.feedback .customers .item p{
    line-height: 22px;
    font-size: 14px;
}

.feedback .customers .item .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feedback .customers .item .user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}

.feedback .customers .item .user p{
    font-size: 12px;
}